<h1> All Chores </h1>
<%= link_to "Create a New Chore", new_chore_path %>

<hr>

<% if @chores.size == 0 %>
    <p> No chores have been created </p>
<% else %>
    <% @chores.each do |chore|%>
        <p> <%= link_to "#{chore.name} - #{chore.points} pts", chore_path(chore.id) %> </p>
    <% end %>
<% end %>

<hr>