<h1> All Chores </h1>

<%= link_to "Create a New Chore", new_chore_path(@chores) %>


<p> "List of Chores here as links that go to the chore w/ description" </p>
<p> "Update/Delete Chore Link will be on individual Chore Show Page" </p>


<br>
<hr>