<h1>Welcome <%= @household.name %> Family! </h1>
<hr>

<% @members.each do |member|%>
    <p><%= link_to "#{member.name} | Points: #{member.points}", member_path(member.id) %></p>
<% end %>

<hr>

<h2> Admin Functions </h2>

<h4> Add/Edit/Delete a Chore </h4>

<%= link_to "List of Chores", "/chores" %> 

<h4> Add a Household Member </h4>

<%= link_to "Add a Member", new_member_path(@member) %>

<br>

<hr>