<h1>Welcome <%= @household.name %> Family! </h1>
<hr>

<h3> Household Members </h3>
<% @members.each do |member|%>
    <p><%= member.name %></p>
<% end %>

<hr>

<h3> Admin Functions </h3>
<%= link_to "List of Chores", "/chores" %>
<br>
<%= link_to "Add a House Member", new_member_path(@member) %>
<br>

<hr>